<button (click)="checkMe()">diya</button>
<div [hidden]="philae">
    <h3> My Name is {{phila.name}} </h3>
    <h3> My Last Name Is {{phila.lName}} </h3>
    <h2> I want to say you {{phila.saYs}} </h2>
    <h3> My Favorite color is {{phila.fColor}} </h3>
    <h3> My Favorite number is {{phila.fNumber}} </h3>
</div>
<h2> {{(100-dicPrize)/2}}% </h2>
<button>Click</button>
<input [(ngModel)]="dipAk">
<h2 >Show here: {{dipAk}} </h2>
<div *ngFor="let item of diyaPatel"> Member of my home is {{item}}

</div>
